


header .banner{
    text-align: center;
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    padding: 170px 0px;
    align-content: center;
    background-repeat: no-repeat;
    background-position: center;
    
}

.banner img{
    max-width: 1000px;
    max-height: fit-content;
    border-radius: 20px;
}

.banner h2{
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px;
}


.offer h2, h3, p, img{
    text-align: center;
}

.offer h2{
    font-size:x-large;
    font-size: 50px;
    margin: 20px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}
.offer p{

    margin: 10px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
}
.offer h3{
    margin: -10px;
    padding: 10px;
    font-size: 30px;
}

.offer img{
    margin: 20px 20px 20px 100px;
    padding-bottom: 50px;
}

.welcome-party {
text-align: center;
color: white;
display: block;
justify-content: center;
align-items: center;
margin: 20px 0px;
padding: 170px 0px;
align-content: center;
background-repeat: no-repeat;
background-position: center;
}


.welcome-party h2, p{
    margin: 5px;

}
.welcome-party h2{
    font-size: 35px;
}

.welcome-party p{
    font-size: 18px;
    margin: 50px 50px;
    padding: 0px 200px 50px 200px;
}

.button-one{

    font-size: 14px;
}

.welcome-party img{
justify-content: center;
align-items: center;
margin: 20px 0px;
padding: 170px 0px;
align-content: center;
background-repeat: no-repeat;
background-position: center;
}

img .new-year{
    align-self: center;

}

.event-details{
    text-align: center;
    padding: 100px;
    color: white;
}

.event-details p{
    font-size: 25px;
}

.event-details button{
margin: 50px 0px;
padding: 10px;
font-size: 25px;
background-color: red;
border: 0px;
}

.three-grid{
    display: flex;
    margin: 20px;
    padding: 50px 60px;

}


.sub{
    background-color: #FFF2F2;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    padding: 120px 20px;
    align-content: center;
    background-repeat: no-repeat;
    background-position: center;
}
.sub h2, p{
    text-align: center;
}
.sub form{
    align-self: center;
}

footer{
    background-color: black;
    color: white;
    display: flex;
}

.footer-column{
    width:50%

}
.footer-social-icon{
    display: flex;
    align-items: center;
}